<body>
  

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid d-flex align-items-center justify-content-between">
  
        <a href="index.php" class="logo d-flex align-items-center  me-auto me-lg-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <i class="bi bi-airplane"></i>
          <h1>Great Tourist</h1>
        </a>

