<nav id="navbar" class="navbar">
    <ul>
      <li>
        <a href="index.php" class="active"><i class="bi bi-house"></i>Home</a></li>
      <li><a href="about.php"><i class="bi bi-card-text"></i>About</a></li>
      <li class="dropdown"><a href="#"><span><i class="bi bi-images"></i>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
          <li><a href="gallery.php">Nature</a></li>
          <li><a href="gallery.php">People</a></li>
          <li><a href="gallery.php">Architecture</a></li>
          <li><a href="gallery.php">Animals</a></li>
          <li><a href="gallery.php">Sports</a></li>
          <li><a href="gallery.php">Travel</a></li>
        </ul>
      </li>
      <li><a href="services.php"><i class="bi bi-plus-circle"></i>Services</a></li>
      <li><a href="contact.php"><i class="bi bi-person-circle"></i>Contact</a></li>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#miModal">
      Login
      </button>
    </ul>
  </nav><!-- .navbar -->

  <div class="header-social-links">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
  </div>
  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

</div>

</header><!-- End Header -->
